<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Teah T.V.</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/teahtv">
            <img th:src="@{/images/Teah.png}" alt="Teah T.V. logo" width="100" height="100">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/teahtv">Library</a></li>
<!--            <li class="nav-item"><a class="nav-link" href="/add">Add Movies</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="/edit">Edit Movies</a></li>-->
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" aria-placeholder="Search" name="searchTerm">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </div>

</nav>
</body>